
.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

/*GROW*/
.grow > .card {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.grow > .card:hover {
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}
